html,body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

header, footer{
    background-color: rgb(20, 129, 196);
    
}

a,p{
  text-decoration: none;
  color:white;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
}
.cabecera nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 25px;
  margin: 0px;
  list-style-type: none;
  }
  
  h1,h2,h3{
    color: rgb(20, 129, 196);
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
  }
  main h4{
    color: rgb(4, 4, 4);
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
  }
  h4 strike{
    color: rgb(100, 97, 97);
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
  }
  .jumbotron{
    min-width: 100vh;
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/jumbotron.jpg');
  }
  .elementos-galeria {
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
    place-content: space-around;
    text-align: center;
}
.galerias h3{
  color: rgb(20, 129, 196);
  text-align: center;
}
.escritorio, .mesas, .sillas,
.sillas_escritorio, .infantil,
.hogar, .repisas, .varios {
  min-height:300px;
  min-width:300px;
  background-size:contain;  
  background-position: center;
  background-repeat: no-repeat;
}
.escritorio {
  background-image: url('../img/escritorios.jpg');
  
}
.mesas {
  background-image: url('../img/mesas.jpg');
}
.sillas {
  background-image: url('../img/sillas.jpg');  
  background-size:contain;
  background-position: center;
}
.sillas_escritorio {
  background-image: url('../img/sillas_escritorios.PNG');
  background-size:contain;
}
.infantil {
  background-image: url('../img/infantil.JPG');
}
.hogar {
  background-image: url('../img/hogar.JPG');
}
.repisas {
  background-image: url('../img/repisas.JPG');
}
.varios{
  background-image: url('../img/variados.jpg');
  background-position: center;
}
.producto, .datos_registro{
  display: grid;
  flex-direction: column;
  grid-template-columns: auto auto;
  
  grid-area: auto;
  grid-gap: 8px;
  text-align: left;
}
.datos_registro{
  align-items: right;
  text-align: left;
}
.registro label{
  color: #00a8e8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.registro input{
  background-color: #fbfdfe;
  color: #00a8e8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 35px 150px
}
.registro, .destacados, .adicionales, .galeria{
  margin-left: 50px;
  margin-right: 50px;
}
.imagen, .hotsale{
  min-height:200px;
  min-width:300px;
  background-size:contain;  
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 20;
}

button{
  background-color: #fbfdfe;
  color: #00a8e8;
  border-color: #00a8e8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-2{
  background-color: #00a8e8;
  color: #fbfdfe;
  padding: 15px 52px;
}
.btn-3{
  background-color: #f4f4f4;
  color: #00a8e8;
  padding: 15px 62px;
}
.links{
display:inline-block;
background-repeat: no-repeat;
background-size: contain;
min-width: 150px;
min-height: 150px;
margin: 20px;
}
.facebook{
  background-image: url('../img/facebook.PNG');
}
.twitter{
  background-image: url('../img/twitter.PNG');
  min-width: 150px;
  min-height: 152px;
}
.pin{
  background-image: url('../img/pin.PNG');
}
.hotsale{
  background-image: url('../img/hotsale.png');
  padding: 0 ;
  margin-right: 100px;
  background-size: contain;
}
.datos{
  margin-left: 100px;
  margin-right: 0px;
 }
 .destacados > h1,h3   {
  margin-left: 100px;
  margin-right: 0px;
 } 
 .registro > h1   {
  margin-left: 100px;
  margin-right: 0px;
 }
.datos_registro > h1,h3   {
    margin-left: 100px;
    margin-right: 0px;
   }
.imagen{
  background-image: url('../img/destacado.jpg');
  align-items:center;
  margin-left: 50px;
}
.adicionales{
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto auto;
  grid-gap: 8px;
  padding-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
.hechoEnMexico, .preciosBajos, .ecoFriendly {
  min-height:300px;
  min-width:300px;
  background-size:contain;  
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  margin-top: 150px;
}
.hechoEnMexico{
  background-image: url('../img/hechoenmexico.JPG');
}
.preciosBajos{
  background-image: url('../img/preciosbajos.JPG');
}
.ecoFriendly{
  background-image: url('../img/ecofriendly.JPG');
}
.columnaPrincipal nav ul {
  list-style-type: none;
  margin: 0;
  padding:0px;
}
.menu li a, p{
  margin-bottom: 0;
  padding:0px;
  width:250px;
}

.menu, .columnaPrincipal{
  display: flex;
  flex-direction: column;
  justify-content:start;
  text-align: left;
  flex-wrap: nowrap;
  list-style-type: none;
  
}

.apie,.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0;
  padding-top:40px;
  padding-bottom:100px;
}